<link rel="import" href="../../js/polymer/polymer.html">

<dom-module id="bg-stage">

  <template>
    <img src="{{bgImg}}">
  </template>

  <script>
    Polymer({
      is: "bg-stage",
      properties: {
        bg: {
          type: String,
          value: "Classroom",
        },
        bgImg: {
          type: String,
          computed: "buildImg(bg)" //calls the buildImg function and concats img path and {{bg}} value
        }
      },
      
      buildImg : function(bg) {
        return "images/bg/"+ bg +".jpg";
      },

      ready : function() {
      }
    });
  </script>
  <!--
  bg-stage API
  
  bg:
    Classroom (defualt)
    Dumpster
    GasStation
    Gym
    Library
    Lunchroom
    SoccerField
    StoreInterior
    siri-splash
    beth-splash
    mox-splash
    bad-splash

  -->
</dom-module>