<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="multi-selector">
  <template>
    <ul>
      <template is="dom-repeat" items="{{toArray(selections)}}">
          <li on-click="buttonClick">{{item.name}}</li>   
      </template>
    </ul>
  </template>

  <script>
    Polymer({
      is: "multi-selector",
      properties: {
        selections: {
          type: Object,
          value: {}
        },
      },
      toArray: function(obj) {
        return Object.keys(obj).map(function(key) {
          return {name: key, value: obj[key]};
        });
      },
      buttonClick: function(event, detail, sender) {
        //console.log(this.selections[event.target.innerHTML]);
        document.querySelector('data-house').next = this.selections[event.target.innerHTML];
      },
      ready : function() {
      }
    });
  </script>
  <!--
  text-block API
  
  selections:

  -->
</dom-module>