<link rel="import" href="../../js/polymer/polymer.html">

<dom-module id="select-box">

  <template>
   <span on-click="buttonClick">{{text}}</span>
   </template>
  <script>
    Polymer({
      is: "select-box",
      properties: {
        text: {
          type: String,
          value: "Button Default",
        }
      },
      buttonClick: function(event, detail, sender) {
          document.querySelector('beholder-container').beholder = "mox"; //This is just a static test
      },
      ready : function() {
        document.querySelector('select-box').classList.add("next");
      }
    });
  </script>
  <!--
  select-box API
  
  text:
    Free text for what ever is fed in from the story.

  -->
</dom-module>