<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="text-block">

  <template>
    <section>{{filterPass}}</section>
  </template>

  <script>
    Polymer({
      is: "text-block",
      properties: {
        story: {
          type: String,
          value: "Test"
        },

        filterPass: {
          computed: "filtron(story)" 
        }
      },

      filtron: function(story) {
        story = story.replace(":name:", localStorage.getItem('playerName'));
        return story
      },

      ready : function() {
      }
    });
  </script>
  <!--
  text-block API
  
  story:
    Free text for what ever is fed into the story.

  -->
</dom-module>