<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="text-entry">

  <template>
    <div class="playerNameLeft">&nbsp;</div>
    <div class="playerNameInput"><input class="ghost-input" type="text" name="xx" id="playerName"></div>
    <div class="playerNameButton"><button class="ghost-button" on-click="buttonClick">{{textSubmit.buttonText}}</button></div>
  </template>

  <script>
    Polymer({
      is: "text-entry",
      properties: {
        textSubmit: {
          type: Object
        }
      },
      buttonClick: function(event, detail, sender) {
          var playerNameInput = document.getElementById("playerName").value;
          document.querySelector('data-house').playerName = playerNameInput
          document.querySelector('data-house').next = this.textSubmit.next;
      },
      ready : function() {
      }
    });
  </script>
  <!--
  text-entry API
  
  textSubmit:
    Field name gets read and is key to value entered

  -->
</dom-module>