<!-- Import Polymer -->
<link rel="import" href="../../js/polymer/polymer.html">

<dom-module id="beholder-siri">

  <template>
    <img src="{{expImg}}">
  </template>

  <script>
    Polymer({
      is: "beholder-siri",
      properties: {
        exp: {
          type: String,
          value: "neutral",
        },
        expImg: {
          type: String,
          computed: "buildImg(exp)" //calls the buildImg function and concats img path and {{exp}} value
        },
        pos: {
          type: String
        },
        animation: {
          type: String
        },
      },
      
      buildImg : function(exp) {
        return "images/char/siri/siri-"+ exp +".png";
      },

      ready : function() {
        document.querySelector('beholder-siri').classList.add("char");
        document.querySelector('beholder-siri').classList.add("animated");
        document.querySelector('beholder-siri').classList.add(this.pos);
        document.querySelector('beholder-siri').classList.add(this.animation);
      }
    });
  </script>
  <!--
  Mox API

  exp:
    angry1
    angry2
    happy
    neutral (default if no value)
    shy

  pos:
    center
    right
    left

  animation:
    fadeIn
    fadeInRight
    fadeInLeft

  -->
</dom-module>