<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-house">

  <template>
    <iron-ajax
    auto
    url="../../json/script.json"
    params='{"alt":"json", "q":"chrome"}'
    handle-as="json"
    on-response="handleResponse"
    debounce-duration="300"></iron-ajax>
  </template>
  
  <script>
    Polymer({
      is: "data-house",
      properties: {
        script : {
          type: Object
        },
        next : {
          type: String,
          observer: 'nextScene'
        },
        plotPoint : {
          type: Object,
          observer: 'plotPointStore'
        },
        plotPointArr: {
          computed: "toArray(plotPoint)"
        },
      },

      handleResponse: function(request) {
          console.log("handleresponse");
          console.log(request.detail.response);
          this.script = request.detail.response;
          this.next = "D1S201"; //Change this to be dynamically the first object in the JSON load
      },

      toArray: function(obj) {
        return Object.keys(obj).map(function(key) {
          return {name: key, value: obj[key]};
        });
      },

      plotPointStore: function() {
          if(this.plotPoint != undefined)
          {
            if(localStorage.getItem(this.plotPointArr[0].name))
            {
              var tempArr = localStorage.getItem(this.plotPointArr[0].name);
              localStorage.setItem(this.plotPointArr[0].name,JSON.stringify(tempArr.concat([this.plotPointArr[0].value]))); //fuck
            }
            else
            {
              localStorage.setItem(this.plotPointArr[0].name,JSON.stringify([this.plotPointArr[0].value]));
            }
          }
      },

      nextScene: function() {
        console.log("Observed: " + this.next);

        if(this.script[this.next].story != undefined)
        {
          document.querySelector('text-block').story = this.script[this.next].story;
        }
        else
        {
          document.querySelector('text-block').story = "";
        }

        if(this.script[this.next].namePlate != undefined)
        {
          document.querySelector('name-plate').name = this.script[this.next].namePlate;
        }
        else
        {
          document.querySelector('name-plate').name = "";
        }

        if(this.script[this.next].bg != undefined)
        {
          document.querySelector('bg-stage').bg = this.script[this.next].bg;
        }
        else
        {
          document.querySelector('bg-stage').bg = "";
        }

        if(this.script[this.next].next != undefined)
        {
          document.querySelector('select-box').next = this.script[this.next].next;
        }
        else
        {
          document.querySelector('select-box').next = ""; 
        }

        if(this.script[this.next].buttonText != undefined)
        {
          document.querySelector('select-box').text = this.script[this.next].buttonText;
          document.querySelector('select-box').style.display = "block";
        }
        else
        {
          document.querySelector('select-box').text = "";
          document.querySelector('select-box').style.display = "none";
        }

        if(this.script[this.next].beholderAnimation != undefined)
        {
          document.querySelector('beholder-container').animation = this.script[this.next].beholderAnimation;
        }
        else
        {
          document.querySelector('beholder-container').animation = "noAnimation"; 
        }

        if(this.script[this.next].beholderPos != undefined)
        {
          document.querySelector('beholder-container').pos = this.script[this.next].beholderPos;
        }
        else
        {
          document.querySelector('beholder-container').pos = "noPos"; 
        }

        if(this.script[this.next].beholderExp != undefined)
        {
          document.querySelector('beholder-container').exp = this.script[this.next].beholderExp;
        }
        else
        {
          document.querySelector('beholder-container').exp = "neutral"; 
        }

        if(this.script[this.next].beholder != undefined)
        {
          document.querySelector('beholder-container').beholder = this.script[this.next].beholder;
          document.querySelector('beholder-container').beholderContext = this.next;
        }
        else
        {
          document.querySelector('beholder-container').beholder = "blank"; 
        }

        if(this.script[this.next].selection != undefined)
        {
          document.querySelector('multi-selector').selections = this.script[this.next].selection;
        }
        else
        {
          document.querySelector('multi-selector').selections = undefined;
        }

        if(this.script[this.next].uniqueSelection != undefined)
        {
          document.querySelector('multi-selector').uniqueSelection = this.script[this.next].uniqueSelection;
        }
        else
        {
          document.querySelector('multi-selector').uniqueSelection = "";
        }

        if(this.script[this.next].plotPoint != undefined)
        {
          document.querySelector('data-house').plotPoint = this.script[this.next].plotPoint;
        }
        else
        {
          document.querySelector('data-house').plotPoint = undefined;
        }

        if(this.script[this.next].conditionalSelection != undefined)
        {
          document.querySelector('multi-selector').conditionalSelection = this.script[this.next].conditionalSelection;
        }
        else
        {
          document.querySelector('multi-selector').conditionalSelection = {};
        }

        if(this.script[this.next].conditionalStory != undefined)
        {
          var cStory = this.script[this.next].conditionalStory;
          if(localStorage.getItem(Object.keys(cStory.condition)[0]) == cStory.condition[Object.keys(cStory.condition)[0]])
          {
            document.querySelector('text-block').item = this.script[this.next].conditionalStory.ifConditionTrue.item;
            document.querySelector('text-block').story = this.script[this.next].conditionalStory.ifConditionTrue.story;
            document.querySelector('select-box').text = this.script[this.next].conditionalStory.ifConditionTrue.buttonText;
            document.querySelector('select-box').next = this.script[this.next].conditionalStory.ifConditionTrue.next;
          }
          else
          {
            document.querySelector('text-block').item = this.script[this.next].conditionalStory.ifConditionTrue.item;
            document.querySelector('text-block').story = this.script[this.next].conditionalStory.ifConditionFalse.story;
            document.querySelector('select-box').text = this.script[this.next].conditionalStory.ifConditionFalse.buttonText;
            document.querySelector('select-box').next = this.script[this.next].conditionalStory.ifConditionFalse.next;
          }
          
        }
      },

      ready : function() {
        //var testArray = JSON.stringify(["Pick up your tray and sit with Bethelzed.", "Pick up your tray and sit with Siriak the Rapid."]);
        localStorage.clear();
        localStorage.setItem('playerName', 'Justin'); //this is teporary until I get a playerName screen
        //localStorage.setItem('mox-kick', 'known');
        //localStorage.setItem('mox-gym', 'true');
        //localStorage.setItem('purchase', 'Electronic Music Compilation'); //mox
        //localStorage.setItem("beth-class","true");
        //localStorage.setItem("beth-studied", "true");
        //localStorage.setItem("purchase", "Dating-Sim Walkthrough"); //beth
        //localStorage.setItem("siri-smoked", "true");
        localStorage.setItem("siri-ditched", "true");
        //localStorage.setItem("purchase", "Fuzzy Dice"); //siri
        //localStorage.setItem('purchase', 'Fart'); //failure
      },
      
    });
    
    
  </script>
  <!--
  select-box API
  
  script:
    Free text for what ever is fed into the story.
  -->
</dom-module>