<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="data-house">

  <template>
    <iron-ajax
    auto
    url="../../json/script.json"
    params='{"alt":"json", "q":"chrome"}'
    handle-as="json"
    on-response="handleResponse"
    debounce-duration="300"></iron-ajax>

    <section>data-house loaded</section>

  </template>

  <script>
    Polymer({
      is: "data-house",
      properties: {
        script : {
          type: Object,
        }
      },

      handleResponse: function(request){
          //this.story = e.detail.response;
          console.log(request.detail.response);
          this.script = request.detail.response;
      },

      ready : function() {
      }
    });
  </script>
  <!--
  select-box API
  
  text:
    Free text for what ever is fed into the story.

  link:
    Free text for what is fed as the connecting link

  -->
</dom-module>